{# empty Twig template #}
<link href="{{asset ('css/navbar.css')}}" rel="stylesheet" type="text/css"/>
<div class="col-md-12">
<a href="?g=accueil"> <img class="img-responsive" id="logo" src="{{asset('/images/logo.jpg')}}" width="250" height="131" alt=""/></a> 

    <div id="menu">  
        <ul>
            <li><a href="{{path('gael_homepage')}}">Accueil</a></li>
            <li><a href="{{path('articles')}}">Articles</a></li>
            <li><a href="{{path('boutique')}}">Boutiques</a></li>
        </ul>
    </div>  
    <h1 class="header" id="ligne" > </h1>
    <div id="bandeaut">
       
        <div id="bandeau">
            
        </div>

       
    </div>
</div>