{# empty Twig template #}
{% block head %}
    <link href="{{asset ('css/article.css')}}" rel="stylesheet" type="text/css"/>

{% endblock %}
{% extends 'GaelBundle:Templates:Template.html.twig'%}
{% block article %}
    <div id="contenu">
        <div id="content">
            <div id="works">
                {% for a in articles %}   
                    <a id="robe-" rel="diaporama_group" alt='test' title='' href="{{path('detailArticle',{idArt:a.IdArticle})}}">
                        <div class="work">
                            <img alt="diapo-exemple" src="{{asset('images/'~a.urlImage)}}"  width="212" height="300" alt>
                            <span> 
                                <div id="titre">{{a.lib}}</div>

                                <div id="prix">{{a.prix}}€</div>  
                            </span>    
                        </div>
                    </a><!-- .work -->
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}